<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>{{ context["heading"] }}</title>{% endblock title %}
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/annabialas/trash-exchange/develop/static/img/favicon.png">
    {% block og %}
    <meta property="og:title" content="Trash Exchange">
    <meta property="og:description" content="Collecting and Exchanging Digital Trash">
    <meta property="og:image" content="https://raw.githubusercontent.com/annabialas/trash-exchange/develop/static/img/trash-og.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Trash Exchange">
    {% endblock og %}
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-nav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    {% endblock css %}
  </head>
  <body>
  <div class="container">
    <div class="top-nav">
    <div class="row">
      <div class="six columns">
        <div class="header">
          <h2>trash<br>
          exchange</h2>
        </div>
      </div>
      <div class="six columns">
        <nav class="navbar">
          <div class="container">
            <ul class="navbar-list">
              <li class="navbar-item">
                <a class="navbar-link" href="#intro">FAQ</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="#">On Trash</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="splash-section">
      <p>Trash exchange is a web application for collecting and exchanging born-digital materials users have deemed unworthy of keeping on their machines. Through inviting its visitors to dig up their digital trash, Trash Exchange strives to create a space for sharing and displaying deleted images and screenshots with the hope of better understanding the role of curation in forming digital memories.</p>
    </div>
  </div>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  </body>
</html>
