{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="info-section">
    <h2>Donate Trash</h2>
    <p>Contribute a piece of your digital trash and receive one back in exchange</p>
  </div>
</div>

<div class="container">

  <form method="POST" enctype="multipart/form-data" action="/can">
    {{ form.csrf_token }}

    <!-- If Errors -->
    {% if form.errors %}
      <div class="form-errors" style="width: 67%;
                                      padding-top: 15px;
                                      margin: auto;
                                      margin-bottom: 15px;
                                      border: 1px solid #FF6666;">
        <p>Please correct the following <strong>{{form.errors|length}} error(s)</strong>: </p>
        <ul>
          {% for field_name, field_errors in form.errors|dictsort %}{% for error in field_errors %}
          <li>{{form[field_name].name}}: {{ error }}</li>
          {% endfor %}{% endfor %}
          </ul>
      </div>
    {% endif %}
    <!-- End Errors -->

    <div class="row">
      <div class="six columns">
        {{ form.title.label }}
      </div>
      <div class="six columns">
        {{ form.title(class_="u-full-width", placeholder="e.g. 'My Trash'") }}
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label>Upload any png, gif, or jpeg up to {{ context['limit'] }} MB</label>
      </div>
      <div class="six columns">
        {{ form.file(accept=".png,.jpg,.jpeg,.gif") }}
      </div>
    </div>
    <div class="donate-trash">
      <button class="button button-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}
