{% extends "base.html" %}

{% block content %}

<div id="drop-zone">
    Drop files here
    <input type="file" name="file" id="file" />
</div>

<form method="POST" enctype="multipart/form-data" action="/">
{{ form.csrf_token }}
  <div class="input text">
  {{ form.file(accept=".png,.jpg,.jpeg,.gif") }}
  </div>
</form>

<p><button class="button button-primary" type="submit">Upload</button></p>

<script>

$(function () {

    var dropZone = $("#drop-zone");
    var ooleft = dropZone.offset().left;
    var ooright = dropZone.outerWidth() + ooleft;
    var ootop = dropZone.offset().top;
    var oobottom = dropZone.outerHeight() + ootop;
    var inputFile = dropZone.find("input");
    document.getElementById("drop-zone").addEventListener("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        dropZone.addClass("mouse-over");
        var x = e.pageX;
        var y = e.pageY;

        if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
            inputFile.offset({ top: y - 15, left: x - 100 });
        } else {
            inputFile.offset({ top: -400, left: -400 });
        }

    }, true);

    // if (buttonId != "") {
    //     var clickZone = $("#clickHere");

    //     var oleft = clickZone.offset().left;
    //     var oright = clickZone.outerWidth() + oleft;
    //     var otop = clickZone.offset().top;
    //     var obottom = clickZone.outerHeight() + otop;

    //     $("#clickHere").mousemove(function (e) {
    //         var x = e.pageX;
    //         var y = e.pageY;
    //         if (!(x < oleft || x > oright || y < otop || y > obottom)) {
    //             inputFile.offset({ top: y - 15, left: x - 160 });
    //         } else {
    //             inputFile.offset({ top: -400, left: -400 });
    //         }
    //     });
    // }

    document.getElementById("drop-zone").addEventListener("drop", function (e) {
        $("#drop-zone").removeClass("mouse-over");
    }, true);

})
</script>


<!-- 
  <form method="POST" enctype="multipart/form-data" action="/">
    {{ form.csrf_token }}
    {% if form.errors %}
      <div class="form-errors" style="width: 67%;
                                      padding-top: 15px;
                                      margin: auto;
                                      margin-bottom: 15px;
                                      border: 1px solid #FF6666;">
        <p>Please correct the following <strong>{{form.errors|length}} error(s)</strong>: </p>
        <ul>
          {% for field_name, field_errors in form.errors|dictsort %}{% for error in field_errors %}
          <li>{{form[field_name].name}}: {{ error }}</li>
          {% endfor %}{% endfor %}
          </ul>
      </div>
    {% endif %}
    <p>Upload any png, gif, or jpeg up to {{ context['limit'] }} MB</p>
    {{ form.file(accept=".png,.jpg,.jpeg,.gif") }}
    <div class="input text">
      {{ form.title.label }}{{ form.title }}
    </div>
    <p><button class="button button-primary" type="submit">Upload</button></p>

  </form> -->
{% endblock content %}
